$background-overlay: hsla(0,0%,10%,0.8);
$background-dark: hsla(0,0%,20%,0.8);

$blue: #0B8AFF;
$orange: #FF710B;
$green: #0FFF27;
$red: #FF1A1A;

$gradient: linear-gradient(90deg, rgba(11, 138, 255, 1) 0%, rgba(255, 113, 11, 0.3) 60%, rgba(255, 113, 11, 0) 100%);
